<div class="bg">
  <div class="popupContainer">
    <div [ngStyle]="backgroundImage" class="details">
      <h1>{{itemData.title}}</h1>
      <h3>{{itemData.cost}}</h3>
    </div>
    <div class="buttons">
      <div class="quantityDecider">
        <button (click)="increaseQuantity()" class="increase">+</button>
        <p>{{itemData.quantity}}</p>
        <button (click)="decreaseQuantity()" class="decrease">-</button>
      </div>
      <button class="cartButton" (click)="addToCart()">ADD TO CART</button>
      <button class="cancelButton" (click)="closePopup()">CANCEL</button>
    </div>
  </div>
</div>
