@import '../../../assets/variables.scss';

.cardContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: flex-end;
    color: $secondary-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;

    .title, .cost, .quantity {
      background: $primary-transparent;
      padding: 5px;
    }

    .cartButton {
      margin: 0 10px;
      padding: 4px;
      outline: none;
      border: none;
      background: $secondary-color;
      color: $primary-color;
    }
}