$primary-color: #0d1129;
$secondary-color: #aec406;
$tertiary-color: #ffffff22;
$font: "Montserrat", sans-serif;
$stroke-color: #a9a9a9;
$carousel-text: #ffffff;
$cancel-color: #ff2e69;
$primary-transparent: #0d1129cc;
$total-highlight: #00000044;